<style>
    .image-wrapper { position: relative; width: 100%; }
    .image-wrapper p { position: absolute; left: 0; top: 0;
        color: #FFF;
        background-color:rgba(0,0,0,0.5);
    font-size:1.5em;height:100%;

    }

</style>

<container>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
<hr/>
  <div class = "navig">
  <ul class="filter nav nav-pills">
    <li data-value="all" class="active"><a href="#">All</a></li>
    <li data-value="digital"><a href="#">Digital Art</a></li>
    <li data-value="paint"><a href="#">Paintings</a></li>
    <li data-value="code"><a href="#">Coding</a></li>
    <li data-value="print"><a href="#">Print</a></li>
    <li data-value="logo"><a href="#">Logo Design</a></li>
    <li data-value="wdesign"><a href="#">Web Design</a></li>
  </ul>
  </div>
  <hr>
  <ul class="thumbnails">
    <li data-type="code" data-id="id-1" class="span3">
      <div class="image-wrapper">
        <a href="http://stark-woodland-9075.herokuapp.com" target="_blank" class="thumbnail" id="dig1"><img src="/assets/dream.png" alt=""></a>
      </div>
    </li>
    <li data-type="code" data-id="id-2" class="span3">
      <div class="image-wrapper">
      <a href="https://github.com/ikona23/convertor" target="_blank" class="thumbnail" id="code1"><img src="/assets/convert.png" alt="convert"></a>
          </div>
    </li>
    <li data-type="code" data-id="id-3" class="span3">
      <div class="image-wrapper">
      <a href="https://kosikovanie.herokuapp.com" target="_blank" class="thumbnail" id="dig2"><img src="/assets/kos.png" alt="kos"></a>
      </div>
    </li>
    <li data-type="code" data-id="id-4" class="span3">
      <div class="image-wrapper">
      <a href="http://188.166.63.105" target="_blank" class="thumbnail" id="dig3"><img src="/assets/burger.jpg" alt="burger"></a>
      </div>
    </li>
    <li data-type="code" data-id="id-5" class="span3">
      <a href="https://rubydevffde.ninefold-apps.com" target="_blank" class="thumbnail" id="dig4"><img src="/assets/hotblog.jpg" alt="tree"></a>
    </li>
    <li data-type="wdesign" data-id="id-6" class="span3">
      <a href="#" class="thumbnail" id="dig5"><img src="/assets/stanley.png" alt="mandala"></a>
    </li>
    <li data-type="code" data-id="id-7" class="span3">
      <a href="http://www.professionalmortgageintroducer.com" target="_blank" class="thumbnail" id="code"><img src="/assets/pmi.jpg" alt="devblog"></a>
    </li>
    <li data-type="print" data-id="id-8" class="span3">
      <a href="#" class="thumbnail" id="print"><img src="/assets/print.png" alt="rocks"></a>
    </li>
    <li data-type="digital" data-id="id-9" class="span3">
      <a href="#" class="thumbnail" id="dig7"><img src="/assets/mat.jpg" alt="matt"></a>
    </li>
    <li data-type="digital" data-id="id-10" class="span3">
      <a href="#" class="thumbnail" id="dig8"><img src="/assets/ast.jpg" alt="cosmo"></a>
    </li>
    <li data-type="digital" data-id="id-11" class="span3">
      <a href="#" class="thumbnail" id="dig9"><img src="/assets/face.png" alt="character"></a>
    </li>
    <li data-type="digital" data-id="id-12" class="span3">
      <a href="#" class="thumbnail" id="dig10"><img src="/assets/cer.png" alt="cherry"></a>
    </li>
    <li data-type="logo" data-id="id-13" class="span3">
      <a href="#" class="thumbnail" id="dig11"><img src="/assets/gard.jpg" alt="garden"></a>
    </li>
    <li data-type="paint" data-id="id-14" class="span3">
      <a href="#" class="thumbnail" id="dig12"><img src="/assets/count.png" alt="island"></a>
    </li>
    <li data-type="digital" data-id="id-15" class="span3">
      <a href="#" class="thumbnail" id="dig13"><img src="/assets/hypo.jpg" alt="hypo"></a>
    </li>
    <li data-type="digital" data-id="id-16" class="span3">
      <a href="#" class="thumbnail" id="dig14"><img src="/assets/butons.png" alt="buttons"></a>
    </li>
    <li data-type="digital" data-id="id-17" class="span3">
      <a href="#" class="thumbnail" id="dig15"><img src="/assets/fac.png" alt="cow"></a>
    </li>
    <li data-type="logo" data-id="id-18" class="span3">
      <a href="#" class="thumbnail" id="dig16"><img src="/assets/acupun.png" alt="acup"></a>
    </li>
    <li data-type="digital" data-id="id-19" class="span3">
      <a href="#" class="thumbnail" id="dig17"><img src="/assets/budh.png" alt="budha"></a>
    </li>
    <li data-type="logo" data-id="id-20" class="span3">
      <a href="#" class="thumbnail" id="dig18"><img src="/assets/balls.png" alt="balls"></a>
    </li>
    <li data-type="print" data-id="id-21" class="span3">
      <a href="#" class="thumbnail" id="paint2"><img src="/assets/cd.png" alt="cover"></a>
    </li>
    <li data-type="logo" data-id="id-22" class="span3">
      <a href="#" class="thumbnail" id="dig19"><img src="/assets/refro.jpg" alt="refro"></a>
    </li>
    <li data-type="digital" data-id="id-23" class="span3">
      <a href="#" class="thumbnail" id="dig20"><img src="/assets/me.png" alt="me"></a>
    </li>
    <li data-type="logo" data-id="id-24" class="span3">
      <a href="#" class="thumbnail" id="dig21"><img src="/assets/cloud.png" alt="cloud"></a>
    </li>
    <li data-type="logo" data-id="id-25" class="span3">
      <a href="#" class="thumbnail" id="dig22"><img src="/assets/pk.png" alt="pk"></a>
    </li>
    <li data-type="wdesign" data-id="id-26" class="span3">
      <a href="#" class="thumbnail" id="dig23"><img src="/assets/k.png" alt="mum"></a>
    </li>
    <li data-type="logo" data-id="id-27" class="span3">
      <a href="#" class="thumbnail" id="dig24"><img src="/assets/s.png" alt="logo"></a>
    </li>
    <li data-type="print" data-id="id-28" class="span3">
      <a href="#" class="thumbnail" id="dig25"><img src="/assets/rabbit.png" alt="rabbit"></a>
    </li>
    <li data-type="digital" data-id="id-29" class="span3">
      <a href="#" class="thumbnail" id="dig26"><img src="/assets/hand.png" alt="hand"></a>
    </li>
    <li data-type="print" data-id="id-30" class="span3">
      <a href="#" class="thumbnail" id="dig27"><img src="/assets/board.png" alt="sticker"></a>
    </li>
    <li data-type="logo" data-id="id-31" class="span3">
      <a href="#" class="thumbnail" id="dig28"><img src="/assets/zero.png" alt="zero"></a>
    </li>
    <li data-type="digital" data-id="id-32" class="span3">
      <a href="#" class="thumbnail" id="dig29"><img src="/assets/needle.png" alt="needle"></a>
    </li>
    <li data-type="logo" data-id="id-33" class="span3">
      <a href="#" class="thumbnail" id="dig30"><img src="/assets/n.png" alt="needlezoom"></a>
    </li>
    <li data-type="code" data-id="id-34" class="span3">
      <a href="http://codepen.io/ikona/details/qpwkr/"  target="_blank" class="thumbnail" id="dig31"><img src="/assets/pek.png" alt="pek"></a>
    </li>
    <li data-type="print" data-id="id-35" class="span3">
      <a href="#" class="thumbnail" id="dig32"><img src="/assets/monkey.png" alt="monkey"></a>
    </li>
    <li data-type="code" data-id="id-36" class="span3">
      <a href="http://stark-woodland-9075.herokuapp.com" target="_blank" class="thumbnail" id="dig33"><img src="/assets/w.png" alt="renomania"></a>
    </li>
    <li data-type="logo" data-id="id-37" class="span3">
      <a href="#" class="thumbnail" id="dig34"><img src="/assets/mandal.png" alt="mandala"></a>
    </li>
    <li data-type="digital" data-id="id-38" class="span3">
      <a href="#" class="thumbnail" id="dig35"><img src="/assets/curt.png" alt="curtains"></a>
    </li>
    <li data-type="logo" data-id="id-39" class="span3">
      <a href="#" class="thumbnail" id="dig36"><img src="/assets/dedo.jpg" alt="dedo"></a>
    </li>
    <li data-type="paint" data-id="id-40" class="span3">
      <a href="#" class="thumbnail" id="dig37"><img src="/assets/mount.gif" alt="dedo"></a>
    </li>

  </ul>
  </br>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  <script src="/assets/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.quicksand.js"></script>
  <script type='text/javascript' src="/assets/bootbox.js"></script>
  <script>
      function gallery(){
          $('#dig1').click(function() { bootbox.alert('<img src="/assets/dream.png"><h4>Ruby on Rails project</h4>'); });
          $('#code1').click(function() { bootbox.alert('<img src="/assets/convert.png"><h4>Convert to XML file</h4>'); });
          $('#dig2').click(function() { bootbox.alert('<img src="/assets/kos.png"><h4>Webshop for overseas client</h4>'); });
          $('#dig3').click(function() { bootbox.alert('<img src="/assets/burger.jpg"><h4>Website for client </h4>'); });
          $('#dig4').click(function() { bootbox.alert('<img src="/assets/strong.png"><h4>Painbrush on wood</h4>'); });
          $('#dig5').click(function() { bootbox.alert('<img src="/assets/back.png"><h4>Acryl 200x200</h4>'); });
          $('#dig6').click(function() { bootbox.alert('<img src="/assets/slon.jpg"><h4>Angry elephant (sticker)</h4>'); });
          $('#print').click(function() { bootbox.alert('<img src="/assets/print.gif"><h4>Print for client</h4>'); });
          $('#dig7').click(function() { bootbox.alert('<img src="/assets/mat.png"><h4>Portrait in Illustrator</h4>'); });
          $('#dig8').click(function() { bootbox.alert('<img src="/assets/ast.jpg"><h4>Sketch in Illustrator</h4>'); });
          $('#dig9').click(function() { bootbox.alert('<img src="/assets/face.jpg"><h4>Character in Illustrator</h4>'); });
          $('#dig10').click(function() { bootbox.alert('<img src="/assets/cer.png"><h4>Cherry in Vectors</h4>'); });
          $('#dig11').click(function() { bootbox.alert('<img src="/assets/gard.jpg"><h4>Logo for client</h4>'); });
          $('#dig12').click(function() { bootbox.alert('<img src="/assets/count.png"><h4>Acryl on canvas</h4>'); });
          $('#dig13').click(function() { bootbox.alert('<img src="/assets/hypo.jpg"><h4>Portrait in Illustrator</h4>'); });
          $('#dig14').click(function() { bootbox.alert('<img src="/assets/butons.png"><h4>Buttons for client</h4>'); });
          $('#dig15').click(function() { bootbox.alert('<img src="/assets/caw.jpg"><h4>Routine in Illustrator</h4>'); });
          $('#dig16').click(function() { bootbox.alert('<img src="/assets/acupun.png"><h4>Logo for client</h4>'); });
          $('#dig17').click(function() { bootbox.alert('<img src="/assets/budh.png"><h4>Buddha</h4>'); });
          $('#dig18').click(function() { bootbox.alert('<img src="/assets/balls.png"><h4>Logo for client</h4>'); });
          $('#paint2').click(function() { bootbox.alert('<img src="/assets/cd.png"><h4>Cd cover for client</h4>'); });
          $('#dig19').click(function() { bootbox.alert('<img src="/assets/refro.jpg"><h4>Logo for client</h4>'); });
          $('#dig20').click(function() { bootbox.alert('<img src="/assets/me.png"><h4>Illustrator autoportrait</h4>'); });
          $('#dig21').click(function() { bootbox.alert('<img src="/assets/cloud.png"><h4>Logo design</h4>'); });
          $('#dig22').click(function() { bootbox.alert('<img src="/assets/pk.png"><h4>Logo design</h4>'); });
          $('#dig23').click(function() { bootbox.alert('<img src="/assets/k.png"><h4>Web design</h4>'); });
          $('#dig24').click(function() { bootbox.alert('<img src="/assets/s.png"><h4>Logo for client</h4>'); });
          $('#dig25').click(function() { bootbox.alert('<img src="/assets/rabbit.png"><h4>Logo for client</h4>'); });
          $('#dig26').click(function() { bootbox.alert('<img src="/assets/hand.png"><h4>Illustrator pratice</h4>'); });
          $('#dig27').click(function() { bootbox.alert('<img src="/assets/board.png"><h4>Sticker</h4>'); });
          $('#dig28').click(function() { bootbox.alert('<img src="/assets/zero.png"><h4>Logo for client</h4>'); });
          $('#dig29').click(function() { bootbox.alert('<img src="/assets/needle.png"><h4>Vector for website</h4>'); });
          $('#dig30').click(function() { bootbox.alert('<img src="/assets/n.png"><h4>Vector for client</h4>'); });
          $('#dig31').click(function() { bootbox.alert('<img src="/assets/pek.png"><h4>Logo</h4>'); });
          $('#dig32').click(function() { bootbox.alert('<img src="/assets/monkey.png"><h4>Print for costumer</h4>'); });
          $('#dig33').click(function() { bootbox.alert('<img src="/assets/w.png"><h4>Print for costumer</h4>'); });
          $('#dig34').click(function() { bootbox.alert('<img src="/assets/mandal.png"><h4>Logo for customer</h4>'); });
          $('#dig35').click(function() { bootbox.alert('<img src="/assets/curt.png"><h4>Practice in Illustrator</h4>'); });
          $('#dig36').click(function() { bootbox.alert('<img src="/assets/dedo.jpg"><h4>Logo for customer</h4>'); });
          $('#dig38').click(function() { bootbox.alert('<img src="/assets/stanley.png"><h4>Drawing</h4>'); });
      }
      var $itemsHolder = $('ul.thumbnails');
      var $itemsClone = $itemsHolder.clone();
      var $filterClass = "";
      $('ul.filter li').click(function(e) {
          e.preventDefault();
          $filterClass = $(this).attr('data-value');
          if($filterClass == 'all'){ var $filters = $itemsClone.find('li'); }
          else { var $filters = $itemsClone.find('li[data-type='+ $filterClass +']'); }
          $itemsHolder.quicksand(
                  $filters,
                  { duration: 800 },
                  gallery
          );
      });
      $(document).ready(gallery);
  </script>
</container>